<div class="main-text">
  <h1>DBL ANGULAR TRAINING</h1>
  <h2>Powered by</h2>
  <img
    class="logo"
    src="https://raw.githubusercontent.com/Delivery-Booster-League/software-checkup/master/src/assets/dbl-logo.png"
    alt="dbl logo"
  />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure
  </p>
  <button class="big-button" mat-stroked-button color="primary" (click)="accesToProductPage()">
    Acces all products
  </button>
</div>
